<form>

  <div class="form-group row">
    <label for="part-type" class="col-lg-2 col-form-label">Type</label>
    <div class="col-lg-10">
      <select class="form-control" id="part-type" name="part-type"
              [(ngModel)]="part.type">
        <option *ngFor="let type of partTypes" [ngValue]="type">
          {{type}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group" [ngSwitch]="part.type">

    <div class="row" *ngSwitchCase="'code'">
      <label for="part-content-code" class="col-lg-2 col-form-label">Code</label>
      <div class="col-lg-10">
        <textarea class="form-control" id="part-content-code" rows="10"
                  name="content"
                  [(ngModel)]="part.content.code"></textarea>
      </div>
    </div>

    <div class="row" *ngSwitchCase="'text'">
      <label for="part-content-text" class="col-lg-2 col-form-label">Text</label>
      <div class="col-lg-10">
        <textarea class="form-control" id="part-content-text" rows="10"
                  name="content"
                  [(ngModel)]="part.content.text"></textarea>
      </div>
    </div>

    <div class="row" *ngSwitchCase="'video'">
      <label for="part-content-video" class="col-lg-2 col-form-label">Youtube Url</label>
      <div class="col-lg-10">
        <input class="form-control" type="text" id="part-content-video"
               name="content"
               [(ngModel)]="part.content.video">
      </div>
    </div>

  </div>

</form>
