<div class="card card-block" [ngClass]="{'valid-card': partForm.valid}">
  <form [formGroup]="partForm">

    <div class="form-group" [ngClass]="{'has-danger': partForm.controls.type.errors}">
      <label class="form-control-label" for="part-type">Part Type</label>
      <select class="form-control" id="part-type" name="part-type"
              [ngClass]="{'form-control-danger': partForm.controls.type.errors}"
              formControlName="type">
        <option *ngIf="!part.type" value="">Please Select a Type</option>
        <option *ngFor="let type of partTypes" [ngValue]="type">{{type}}</option>
      </select>
      <div class="form-control-feedback" *ngIf="partForm.controls.type.errors">
        You should select a content type...
      </div>
    </div>

    <div class="form-group"
         [ngSwitch]="part.type"
         formGroupName="content">

      <div class="form-group"
           [ngClass]="{'has-danger': partForm.errors}"
           *ngSwitchCase="'code'">
        <label class="form-control-label" for="part-content-code">Code Content</label>
        <textarea class="form-control" id="part-content-code" name="content" rows="10"
                  [ngClass]="{'form-control-danger': partForm.errors}"
                  formControlName="code"></textarea>
        <div class="form-control-feedback" *ngIf="partForm.controls.type.errors">
          This field is required...
        </div>
      </div>

      <div class="form-group"
           [ngClass]="{'has-danger': partForm.errors}"
           *ngSwitchCase="'text'">
        <label class="form-control-label" for="part-content-text">Text Content</label>
        <textarea class="form-control" id="part-content-text" name="content" rows="10"
                  [ngClass]="{'form-control-danger': partForm.errors}"
                  formControlName="text"></textarea>
        <div class="form-control-feedback" *ngIf="partForm.controls.type.errors">
          This field is required...
        </div>
      </div>

      <div class="form-group"
           [ngClass]="{'has-danger': partForm.errors}"
           *ngSwitchCase="'video'">
        <label class="form-control-label" for="part-content-video">Youtube Url</label>
        <input class="form-control" id="part-content-video" name="content" type="text"
               [ngClass]="{'form-control-danger': partForm.errors}"
               formControlName="video">
        <div class="form-control-feedback" *ngIf="partForm.controls.type.errors">
          This field is required...
        </div>
      </div>

    </div>

  </form>

</div>
